.idea
*.pyc
*.dia~
*.DS_Store
__pycache__
.cache
pip.conf
.cache
*.ipynb_checkpoints
*.ipynb
.run/*
venv*
.mypy_cache
temp*
/.coverage
/coverage.xml
/result.xml
/.idea/
/venv/
.DS_Store
/pip.conf
*.zip
/coverage.json
cmg.py
.envrc
.cursor
.history
.vscode/settings.json
*.mp*
*_transcription*.txt